###########################################################
# Python
###########################################################

__pycache__/
*.py[cod]
*$py.class

###########################################################
# Virtual Environment
###########################################################

venv/
env/
.venv/

###########################################################
# VS Code
###########################################################

.vscode/

###########################################################
# PyCharm
###########################################################

.idea/

###########################################################
# macOS
###########################################################

.DS_Store

###########################################################
# Windows
###########################################################

Thumbs.db

###########################################################
# Environment
###########################################################

.env

###########################################################
# Logs
###########################################################

logs/*.log

###########################################################
# Python Build
###########################################################

build/

dist/

*.egg-info/

###########################################################
# Testing
###########################################################

.pytest_cache/

.coverage

htmlcov/

###########################################################
# Jupyter
###########################################################

.ipynb_checkpoints/

###########################################################
# Backup
###########################################################

backup/

###########################################################
# CSV Runtime Data
###########################################################

data/*.csv

!data/.gitkeep

###########################################################
# IDE
###########################################################

*.swp

*.swo


